{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container col-4 ms-4">
    {% for ticket in tickets %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title"><a href="/user/{{ticket.author.id}}" class="nav-link">{{ticket.author.username}}</a></h4>
          <h5 class="card-title"><a href="course/{{ticket.course.id}}" class="nav-link">{{ticket.course.title}}</a></h5>
          <p class="card-text">{{ticket.text}}</p>
          <a href="tickets/{{ticket.id}}/delete" class="btn btn-danger">Удалить</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}