<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/bootstrap-5.2.3-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/courses.css" rel="stylesheet">
</head>
<body style="padding-bottom: 70px;">
    <nav class="sticky-top navbar bg-dark">
        <div class="container-fluid ms-4">
            <a class="navbar-brand color-main" href="/">Courses</a>
            {% if not logged_user %}
            <a class="nav-link text-light ms-auto me-3" href="/login">Войти</a>
            <a class="nav-link text-light me-4" href="/signin">Зарегистрироваться</a>
            {% endif %}
            
            {% if logged_user %}
            <a class="nav-link text-light ms-auto me-3" href="/user/{{ logged_user }}">Профиль</a>
            <a class="nav-link text-danger me-4" href="/logout">Выйти</a>

            {% endif %}


        </div>
    </nav>

    <div class="min-vh-100 container pt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="navbar fixed-bottom bg-dark justify-content-center align-items-baseline">
        <div class="nav d-flex flex-row align-items-baseline">
            <p class="text-light me-3 mt-2">Copyright Ivan Kudinov 2022</p>
            <a href="https://github.com/trimanul"><img src="/media/misc/github-mark-white.svg" width="24px" height="24px"></a>
        </div>
    </footer>
</body>

<script src="/static/bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script>
</html>