{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script src="/static/scripts/page.js"></script>

<div class="d-flex align-items-center justify-content-center flex-column">
        <form method="POST" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            <input type="hidden" name="order" id="order">
            <input type="hidden" name="is_fin" id="is_fin">
            <button class="btn btn-outline-primary mb-5" type="submit">Сохранить</button>
            <button class="btn btn-outline-primary mb-5" type="submit" onclick="setFin()">Завершить создание</button>


            <fieldset class="form-group" id="formRoot">
            </fieldset>
        </form>
    <div class="w-100 d-flex flex-row align-items-center justify-content-center">
        <div class="w-100 border-top border-2"></div>
        <div class="dropdown px-1">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Добавить
              </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" onclick="addTextArea()">Добавить текст</button></li>
                <li><button class="dropdown-item" type="button" onclick="addImage()">Добавить изображение</button></li>
            </ul>
        </div>
        <div class="w-100 border-top border-2"></div>
        
    </div>
</div>

{% endblock %}